.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

ul, li {
    list-style-type: none;
    display: inline;
}

.logo {
    float: right;
    overflow: auto;
}

@media screen and (max-width: 449px) {


    body {
        background-color: burlywood;
    }
    header {
        width: 100%;
        order: 1;
        border: 1px solid black;
    }
    nav {
        width: 100%;
        order: 2;
    }

    section {
        width: 100%;
        order: 3;
    }
    footer {
        width: 100%;
        order: 4;
    }
    .main_nav {
        min-width: 48px;
        min-height: 48px;
        margin: 20px;
    }

}

@media screen and (min-width: 450px )and (max-width: 769px) {
    body {
        background-color: greenyellow;
    }
    header {
        width: 100%;
        order: 1;
        border: 1px solid black;
    }
    nav {
        width: 100%;
        order: 2;
    }

    section {
        width: 100%;
        order: 3;
    }
    footer {
        width: 100%;
        order: 4;
    }
    .main_nav {
        min-width: 60px;
        min-height: 60px;
        margin: 40px;
    }
}

@media screen and (min-width: 770px){
    body {
        background-color: #CDE4FF;
    }

    header {
        width: 100%;
        border: 1px solid black;
     
    }
    ul, li {
        display: block;
        margin: 10px;
        padding: 10px;
    }

    nav {
        width: 25%;
       
    }
    section {
        width: 75%;
    }
    footer {
        width: 100%;
    }

}