.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.project_links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul, li {
    list-style-type: none;
    display: inline;
}

/* Small Screens */
@media screen and (max-width: 449px) {

    /* Working styles delete before submitting */
    body {
        background-color: burlywood;
    }
    header {
        width: 100%;
        order: 1;
        /* Working styles delete before submitting */
        border: 1px solid black;
        margin: 5px;
        /* End working styles */
    }
    header > h1 {
        float: right;
    }
    .logo {
        float: left;
        flex-shrink: 2;
    }
    
    .clearfix {
        overflow: auto;
    }
    aside {
        width: 100%;
        order: 2;
    }
    .main_nav {
        min-width: 48px;
        min-height: 48px;
        margin: 20px;
    }
    section {
        width: 100%;
        order: 3;
        display: flex;
        flex-flow: row wrap;
    }
    article {
        width: 100%;
        font-size: 0.9em;
        /* Working styles delete before submitting */
        border: 1px solid red;
        
    }

    footer {
        width: 100%;
        order: 4;
    }


}
/* Medium sized screens */
@media screen and (min-width: 450px )and (max-width: 769px) {
    /* Working styles delete before submitting */
    body {
        background-color: greenyellow;
    }
    header {
        width: 100%;
        order: 1;
        /* Working styles delete before submitting */
        border: 1px solid black;
        /* End working styles */
    }
    .logo {
        float: right;
    }
    aside {
        width: 100%;
        order: 2;
    }

    section {
        width: 100%;
        order: 3;
    }
    footer {
        width: 100%;
        order: 4;
    }
    .main_nav {
        min-width: 60px;
        min-height: 60px;
        margin: 40px;
    }
}

/* Large screens */
@media screen and (min-width: 770px){
    body {
        background-color: #CDE4FF;
    }

    header {
        width: 75%;
        /* Working styles delete before submitting */
        border: 1px solid black;
        /* End working styles */
     
    }
    .logo {
        float: right;
    }

    ul, li {
        display: block;
        margin: 10px;
        padding: 10px;
    }

    aside {
        width: 25%;
        height: 100%;
        float: right;
        /* Working styles delete before submitting */
        border: 1px solid green;
        /* End working styles */
       
    }
    section {
        width: 75%;
        /* Working styles delete before submitting */
        border: 1px solid red;
        /* End working styles */
    }
    footer {
        width: 100%;
        
    }

}